/* When sidebar is collapsed */
.sidebar-wrapper.collapsed-sidebar {
  width: 60px;
}
.sidebar-wrapper.expanded-sidebar {
  width: 220px;
}

/* Main content shifts accordingly */
.sidebar-wrapper + .flex-grow-1 {
  transition: margin-left 0.3s;
}
.collapsed-sidebar + .flex-grow-1 {
  margin-left: 60px;
}
.expanded-sidebar + .flex-grow-1 {
  margin-left: 220px;
}
