body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Button Hover Effects */
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: #fff;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: #fff;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}